local.pri
.*
!/.gitignore
!/.github/
*.o
tmp/
moc/
obj/
Makefile*
qwtplot3d/
bin/
lib/
build.log
gui/qrc_images.cpp
/programs/us/us_revision.h
/us_somo/develop/include/us_version.h
*~
*.pro.user
*object_script*


# MSIX packaging artifacts
*.msix
*.appx
msix-package/
C:/dist/
